[Unit]
Description=Service for python http server 


[Service]
WorkingDirectory=/etc/py-http-serv
ExecStart=/usr/bin/python3 /etc/py-http-serv/server.py
#Restart=always

[Install]
WantedBy=multi-user.target
